<!doctype html>
<html lang="en">
    <head>
        <title>Hello world!</title>
        <link href="styles/app.css" rel="stylesheet">
        <link href="styles/default.css" rel="stylesheet">
        <link href="img/favicon.ico" rel="shortcut icon">
        <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">
    </head>
    <body>
        <div class="table">
        <div class="left-column">
            {{ navigation }}
        </div>
        <div class="right-column">
            {{ content }}
        </div>
        </div>
        <footer>
            &copy; {{ company }}, {{ year }}
        </footer>
        <script src="js/main.js"></script>
    </body>
</html>
