<!doctype html>
<html lang="en">
    <head>
        <title>Hello world from zoroaster!</title>
        <link href="styles/app.css" rel="stylesheet">
        <link href="styles/docco.css" rel="stylesheet">
        <link href="img/favicon.ico" rel="shortcut icon">

        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Fira+Sans+Condensed:400,400i" rel="stylesheet">
    </head>
    <body>
        <div class="table">
        <div class="left-column">
            {{ navigation }}
        </div>
        <div class="right-column">
            {{ content }}
        </div>
        </div>
        <footer>
            &copy; <a href="https://sobes.io" style="color: #C80815">zoroaster ltd</a>, 2018
        </footer>
    </body>
</html>
